@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Fluxo de Caixa</h1>
    <hr>

    <div>
        <div class="div-inline-block">
            <b>Valor Total</b><br>
            R$ 200,00
        </div>
        <div class="div-inline-block">
            <b>Receitas</b><br>
            R$ 200,00
        </div>
        <div class="div-inline-block debts">
            <b>Despesas</b><br>
            R$ 200,00
        </div>
    </div>

    <div class="search">
        <div class="div-inline-block-search input-search">
            <form action="/">
                <input name="type" type="text" placeholder="Digite algo">
                <button class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <div class="div-inline-block-search btn-add">
            <a href="/insert" class="btn btn-primary">Adicionar</a>
        </div>
    </div>

    <table class="table table-css">
        <thead>
            <tr>
                <th>TIPO</th>
                <th>VALOR</th>
                <th>STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gás de Cozinha</td>
                <td>- R$ 100,00</td>
                <td>Despesa</td>
                <td><div class="expense-subtitle"></div></td>
            </tr>
            <tr>
                <td>Venda de produto</td>
                <td>R$ 100,00</td>
                <td>Receita</td>
                <td><div class="revenue-subtitle"></div></td>
            </tr>
        </tbody>
    </table>
</div>
